body {
        
    margin: 0px;
    padding: 0px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


.navbar li{
    display:inline-block;
    font-size: 30px;
    
}

.navbar li a{
    text-decoration: none;
    color: rgb(59, 42, 13);
    margin: 20px 15px;
    padding: 4px 4px;
    font-family: 'Otomanopee One', sans-serif;
}

.navbar li a.active,
.navbar li a:hover
{
    color: rgba(126, 120, 120,0.9);
    text-decoration: underline;
}


.btn{
    font-size: 12px;
    border-radius: 5px;
    margin: 6px;
    padding: 1px 3px;
    font-family: 'Otomanopee One', sans-serif;
    background-color: rgba(222, 239, 241, 0.6);
}

.btn:hover{
    background-color: rgb(238, 102, 102);
    cursor: pointer;
}


.bttn{
    width: 93%;
    height: 35px;
    margin: 15px auto;
    padding: 3px auto;
    border-radius: 10px;
    font-size: 18px;
    background-color: indianred;
    font-family: 'Otomanopee One', sans-serif;
    display: block;
    font-style: italic;
    border: 2px solid rgb(235, 0, 0);;
}

.bttn:hover{
    background-color: rgb(245, 43, 43);
    border: 2px solid rgb(230, 84, 164);
    cursor: pointer;
}


.contain h1{
    font-size: 35px;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    font-style: italic;
}

.contain{
    /* border: 1px solid rgb(0, 0, 0); */
    /* border-radius: 10px; */
    /* margin-top: 130px;  
    margin-left: 700px; */

    position: absolute;
    right: 110px;
    top: 170px;
    width: 40%;
    /* padding: 30px; */
}

.contain input{
    width: 90%;
    height: 30px;
    margin: 15px auto;
    padding: 5px 4px;
    border: 2px solid rgb(230, 84, 164);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    display: block;
    font-style: italic;
}


.contain input:hover{
    border: 2px solid rgb(235, 0, 0);
    background-color: rgb(228, 187, 187);
}

.left img {
    height: 135px;
    width: 135px;
}


.left {
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    left: 18px;
    top: 9px;
}
